<template>
<div>
	<trk-banner></trk-banner>
	<div class="wrapper">
    <h2>PROCEDURE GAVERS</h2>
  <div>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<h3 style="text-indent: -36.0pt; line-height: normal; mso-list: l3 level2 lfo1; margin: 0cm 0cm .0001pt 36.0pt;"><a name="_Toc470170381"></a><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: 'Calibri',sans-serif; mso-fareast-font-family: Calibri; mso-ansi-language: NL-BE;">1.1<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span lang="NL-BE" style="font-family: 'Calibri',sans-serif; mso-ansi-language: NL-BE;">Beschrijving duikersactiviteit:</span></h3>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal"><strong><span lang="NL-BE" style="mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri; color: red; mso-ansi-language: NL-BE; mso-fareast-language: EN-US;">PERIODE</span></strong></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal" style="text-align: justify;"><span lang="NL-BE">Er kan gedoken worden van <strong>16 februari tot en met 30 november</strong> van <strong>zonsopgang tot zonsondergang.</strong></span></p>
	<p class="MsoNormal" style="text-align: justify;"><span lang="NL-BE">Er kan een <strong>uitzondering</strong> hierop toegestaan worden mits aanvraag. Bij een <strong>algemene goedkeuring van avondduiken</strong> worden de clubs hiervan op de hoogte gesteld<strong>.</strong></span></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal"><span lang="NL-BE">Een &lsquo;normale&rsquo; duikersactiviteit op De Gavers ziet er als volgt uit: </span></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal"><strong><span lang="NL-BE" style="mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri; color: red; mso-ansi-language: NL-BE; mso-fareast-language: EN-US;">AANKOMST</span></strong></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l1 level1 lfo2;"><!-- [if !supportLists]--><span lang="NL-BE">1.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Slagboom</span></strong><span lang="NL-BE"> openen met toegangsbadge (deze slagboom update telkens de gebruikte badges)</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l1 level1 lfo2;"><!-- [if !supportLists]--><span lang="NL-BE">2.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Hekken </span></strong><span lang="NL-BE">openen</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l1 level1 lfo2;"><!-- [if !supportLists]--><span lang="NL-BE">3.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span lang="NL-BE">Reglementair <strong>parkeren</strong> op de duikersparking (*)</span></p>
	<p class="MsoNormalCxSpMiddle" style="mso-add-space: auto; text-indent: -18.0pt; line-height: 115%; mso-list: l1 level1 lfo2; margin: 0cm 0cm 10.0pt 18.0pt;"><!-- [if !supportLists]--><span lang="NL-BE">4.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span lang="NL-BE">Aankomst <strong>registreren</strong> in <strong>logboek</strong> in EHBO-ruimte: <u>namen, nummerplaten, aankomstuur </u>of via de website<u></u></span></p>
	<p class="MsoNormalCxSpMiddle" style="mso-add-space: auto; text-indent: -18.0pt; line-height: 115%; mso-list: l1 level1 lfo2; margin: 0cm 0cm 10.0pt 18.0pt;"><!-- [if !supportLists]--><span lang="NL-BE">5.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Doucheruimtes</span></strong><span lang="NL-BE"> openen</span></p>
	<p class="MsoNormalCxSpMiddle" style="mso-add-space: auto; text-indent: -18.0pt; line-height: 115%; mso-list: l1 level1 lfo2; margin: 0cm 0cm 10.0pt 18.0pt;"><!-- [if !supportLists]--><span lang="NL-BE">6.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Duikvlag </span></strong><span lang="NL-BE">plaatsen</span></p>
	<p class="MsoNormal"><strong><span lang="NL-BE" style="mso-ascii-font-family: Calibri; mso-hansi-font-family: Calibri; mso-bidi-font-family: Calibri; color: red; mso-ansi-language: NL-BE; mso-fareast-language: EN-US;">VERTREK</span></strong></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l2 level1 lfo3;"><!-- [if !supportLists]--><span lang="NL-BE">1.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Duikvlag</span></strong><span lang="NL-BE"> wegbergen</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l2 level1 lfo3;"><!-- [if !supportLists]--><span lang="NL-BE">2.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Doucheruimtes</span></strong><span lang="NL-BE"> sluiten</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l2 level1 lfo3;"><!-- [if !supportLists]--><span lang="NL-BE">3.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><strong><span lang="NL-BE">Hekken</span></strong><span lang="NL-BE"> sluiten</span></p>
	<p class="MsoNormalCxSpMiddle" style="margin-left: 18.0pt; mso-add-space: auto; text-indent: -18.0pt; mso-list: l2 level1 lfo3;"><!-- [if !supportLists]--><span lang="NL-BE">4.<span style="font-variant-numeric: normal; font-stretch: normal; font-size: 7pt; line-height: normal; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><!--[endif]--><span lang="NL-BE">Vertrek <strong>registreren</strong> in <strong>logboek</strong> in EHBO-ruimte:&nbsp; <u>vertrekuur</u> noteren per naam of uitloggen via de website</span></p>
	<p class="MsoNormal" style="margin-left: 54.0pt;"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal"><span lang="NL-BE">(*)</span></p>
	<p class="MsoListParagraphCxSpFirst" style="mso-add-space: auto; text-indent: -14.2pt; line-height: normal; mso-list: l0 level1 lfo4; margin: 0cm 0cm .0001pt 14.2pt;"><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings; mso-ansi-language: NL-BE;">&uuml; </span><!--[endif]--><span lang="NL-BE">Parkeren kan enkel en alleen op de <strong>voorziene parking</strong> aan de duikzone. Wanneer <strong>volzet</strong>: plaats je auto op de parkeerzone aan de Meersstraat of op parking. Er mogen enkel auto&rsquo;s staan van duikende personen, geen wagens van vrienden/familie die meekomen. Tip: laden en lossen + daarna zoveel mogelijk auto&rsquo;s wegplaatsen op overige parkings, kom met 1 wagen terug (carpoolprincipe). </span></p>
	<p class="MsoListParagraphCxSpLast" style="mso-add-space: auto; text-indent: -14.2pt; line-height: normal; mso-list: l0 level1 lfo4; margin: 0cm 0cm .0001pt 14.2pt;"><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings; mso-ansi-language: NL-BE;">&uuml; </span><!--[endif]--><span lang="NL-BE">Er mag op de parking aan de duikzone tussen de parkeerstroken geparkeerd worden. Enkel op voorwaarde dat jullie de andere geparkeerde wagens kennen/niet hinderen</span></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoNormal"><span lang="NL-BE">Opmerkingen</span></p>
	<p class="MsoNormal"><span lang="NL-BE">&nbsp;</span></p>
	<p class="MsoListParagraphCxSpFirst" style="margin-left: 14.2pt; mso-add-space: auto; text-indent: -14.2pt; mso-list: l4 level1 lfo5;"><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings; mso-ansi-language: NL-BE;">&uuml; </span><!--[endif]--><span lang="NL-BE">Voer steeds alle gevraagde taken telkens correct uit. </span></p>
	<p class="MsoListParagraphCxSpMiddle" style="margin-left: 14.2pt; mso-add-space: auto; text-indent: -14.2pt; mso-list: l4 level1 lfo5;"><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings; mso-ansi-language: NL-BE;">&uuml; </span><!--[endif]--><span lang="NL-BE">Draag zorg voor materiaal en infrastructuur. </span></p>
	<p>&nbsp;</p>
	<p class="MsoListParagraphCxSpLast" style="margin-left: 14.2pt; mso-add-space: auto; text-indent: -14.2pt; mso-list: l4 level1 lfo5;"><!-- [if !supportLists]--><span lang="NL-BE" style="font-family: Wingdings; mso-fareast-font-family: Wingdings; mso-bidi-font-family: Wingdings; mso-ansi-language: NL-BE;">&uuml; </span><!--[endif]--><span lang="NL-BE">De duikzone is <strong>geen plaats voor barbecue, bar</strong> &hellip; &nbsp;</span></p></div>
  </div>
</div>
  
</template>
