<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>GESCHIEDENIS</h2>
    <p>Onze duikclub kende zijn oorsprong in Lendelede in 1972 waar in het privé zwembad van aannemer Henri Govaere de eerste trainingen doorgingen onder leiding van redder Denis Declerck.</p>
    <p>Algauw werd een VZW opgericht onder naam van Nautic Duikersclub Lendelede.</p>
    <br>
    <p>Eén van de eerste aankopen was een compressor waarmee de eigen duikflessen konden gevuld worden.</p>
    <p>Pas toen het zwembad in Izegem open ging in 1974 verhuisden een deel van de leden naar Izegem, waarna de naam van de club gewijzigd werd  in Nautic Duikersclub Izegem.</p>
    <p>Eén van de stichtende leden, Rik Declercq nam het voorzitterschap op zich en zag zijn kindje uitgroeien tot een heuse club, waar vrienden onder elkaar hun passie konden delen en beleven.</p>
    <br>
    <p>De eerste clubduiken gingen door in de steengroeve van Lessines. Vanaf midden jaren 80 trokken de NDI’ers frequenter naar Zeeland (Nederland) en Egypte Marsa Alam waar nog steeds veel gedoken werd.</p>
    <p>Marc Lambertz werd in 1987 de eerste Instructeur binnen de club, waarmee het behalen van brevetten binnen de club heel wat toegankelijker werd.</p>
    <br>
    <p>In de jaren 80-90,rond de periode van O.L.V. Hemelvaart ging de club meerdere jaren de onderwater wereld van het Spaanse L’Estartit gaan verkennen.</p>
    <p>Nu worden nog steeds 2 clubweekends georganiseerd, maar dit in Nederland, waar de nadruk op het afnemen van openwaterproeven ligt.</p>
    <p>Het clubweekend in augustus is inmiddels legendarisch geworden en wordt altijd afgesloten met een heerlijke BBQ.</p>
    <br>
    <p>In 2010 werden Pieter Decoene en Jürgen Van den Berghe de eerste 2*Instructeurs binnen de club en kreeg Nautic een wel uitgebouwd kader.</p>
    <p>In 2013 ging Pieter de uitdaging aan om 3* Instructeur te worden waar hij met glans in slaagde.</p>
    <br>
    <p>Inmiddels telt Nautic reeds 9 instructeurs en 3 Assistent Instructeurs die instaan voor de vorming van de leden.</p>
    <p>Nautic telt een 80-tal leden die allen gebeten zijn van de pracht van de onderwaterwereld.</p>
  </div>
</div>
  
</template>
