<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>Kader van Nautic Duikersclub Izegem:</h2>
    <div v-for="item in $store.state.kader">
      <h5>{{item.naam}}</h5>
      <div style="cursor:pointer;" class="box" @click="$router.push({name:'profiel', params: {user: item.username}})">
        {{item.firstName}}
        {{item.lastName}}
      </div>
    </div>
  </div>
</div>

</template>


<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
export default {
  created() {
    this.$store.dispatch('kader')
  }
}
</script>
