<template>
  <div style="margin-top:-10px;">
    <div class="notfound"></div>
    <div class="wrapper">
      <div @click="diveToSurfaceRequest" class="box oopsbutton" style="margin:auto;display:block;">Duik terug naar de oppervlakte</div>
      <br><br><br><br>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
		diveToSurfaceRequest(e) {
      this.$router.push('/');
		}
	}
}
</script>


<style>
.notfound {
  margin:auto;
  display:block;
  width:100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/404.png');
}
.oopsbutton {
  background: rgb(59,221,124);;
  border: 0;
  min-width: 250px;
  max-width: 400px;
  min-height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 3px;
  text-align: center;
  display: block;
}
.oopsbutton:hover {
  background-color: rgb(62, 193, 114);
}
</style>
