<template>
  <div>
    <trk-leden v-if="$route.params.component == 'leden'"></trk-leden>
    <trk-geschiedenis v-if="$route.params.component == 'geschiedenis'"></trk-geschiedenis>
    <trk-bestuur v-if="$route.params.component == 'bestuur'"></trk-bestuur>
    <trk-kader v-if="$route.params.component == 'kader'"></trk-kader>
    <trk-extra v-if="$route.params.component == 'extra'"></trk-extra>
  </div>
</template>