<template>
<div>
  <div class="duikclub-banner" data-bg-alignment="center" data-x-pos="centered" data-y-pos="middle" style="margin-bottom:30px;">
    <div class="wrapper">
      <p class="banner-text">Club Evenementen</p>
    </div>
  </div>
  <div class="wrapper">
    <trk-kalender></trk-kalender>
    <div v-if="events.length == 0">Evenementen inladen...</div>
    <div v-for="(event, index) in events" v-else>
      <div class="event" @click="event.visible = !event.visible">
        <div class="event-color" v-bind:style="{ backgroundColor: '#' + event.color }"></div>
        <div class="event-logo" v-bind:style="{ backgroundImage: 'url(' + event.image + ')' }"></div>
        <h5>{{event.datum}} {{event.plaats}}</h5>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{event.tijd}}</p>
        <p>Verantwoordelijke: <span @click="$router.push({name:'profiel', params: {user: event.verantwoordelijkeuuid}})" style="color: #4F5B93;font-weight:700;cursor:pointer;">{{event.verantwoordelijke}}</span></p>
        <p>Plaatsen: {{event.ingeschreven}}/{{event.totaleplaatsen}}</p>
      </div>
      <div class="event-info" v-show="event.visible">
        <div class="event-info-content">
          <div class="event-info-banner" v-bind:style="{ backgroundImage: 'url(' + event.image + ')' }"></div>
          <div class="" style="padding:10px;">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i><span style="font-size:25px;margin:5px;font-weight:400;">DETAILS</span>
            <div style="padding:5px;">Plaatsen: {{event.ingeschreven}}/{{event.totaleplaatsen}}
              <div v-html="event.text"></div>
            </div>
            <hr style="border:1px solid #ddd;">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i><span style="font-size:25px;margin:5px;font-weight:400;">TIJD</span>
            <div style="padding:5px;">
              {{event.datum}} {{event.tijd}}
            </div>
            <hr style="border:1px solid #ddd;">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i><span style="font-size:25px;margin:5px;font-weight:400;">PLAATS</span>
            <div style="padding:5px;">
              {{event.plaats}}
            </div>
            <hr style="border:1px solid #ddd;">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i><span style="font-size:25px;margin:5px;font-weight:400;">VERANTWOORDELIJKE</span>
            <div style="padding:5px;">
              {{event.verantwoordelijke}}
            </div>
            <hr style="border:1px solid #ddd;">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i><span style="font-size:25px;margin:5px;font-weight:400;">DEELNEMERS</span>
            <div style="padding:5px;">
              <p style="cursor:pointer;" v-for="deelnemer in event.deelnemers" @click="$router.push({name:'profiel', params: {user: deelnemer.username}})">{{deelnemer.firstName}} {{deelnemer.lastName}}</p>
            </div>
          </div>
          <v-btn v-if="event.isIngeschreven == true" primary @click="unsubscribe(event.id, index)" type="submit" class="button">Uitschrijven</v-btn>
          <v-btn v-if="event.isIngeschreven == 'loading'" primary type="submit" class="button">Inschrijven...</v-btn>
          <v-btn v-if="!event.isIngeschreven" primary @click="subscribe(event.id, index)" type="submit" class="button" style="cursor:pointer;">Inschrijven</v-btn>

        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  created() {
    if(this.$store.state.authUserUUID == undefined) {
      this.$router.push('/');
    }
    else {
      this.$store.dispatch({
        type: 'EVENSTgetEvents',
        user: {
          uuid: this.$store.state.authUserUUID,
          password: localStorage.getItem('authUserPass')
        }
      });
    }
  },
  computed: mapGetters({
      events: 'EVENSTgetEvents'
  }),
  methods: {
    subscribe(event, id) {
      this.$store.dispatch({
        type: 'subscribe',
        user: {
          uuid: this.$store.state.authUserUUID,
          event: event
        },
        id: id
      });
    },
    unsubscribe(event, id) {
      this.$store.dispatch({
        type: 'unsubscribe',
        user: {
          uuid: this.$store.state.authUserUUID,
          event: event
        },
        id: id
      });
    }
  }
}
</script>

<style scoped>
.events {
  animation-name: view;
  animation-duration: 0.3s;
}
.button {
  font-weight: 800;
  width: 170px;
  height: 40px;
  text-align: center;
  display: block;
  background: rgb(59,221,124);;
  border: 0;
  min-width: 250px;
  max-width: 400px;
  min-height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 3px;
  text-align: center;
  display: block;
}
.event {
    background-color: #eee;
    border: 1px solid #ddd;
    width: 600px;
    height: 120px;
}
.event:hover {
    background-color: #e8e8e8;
}
.event-info {
    background-color: #eee;
    border: 1px solid #e5e5e5;
    width: 600px;
}
.event-info-content {
  animation-name: showEvent;
  animation-duration: 0s;
  min-height: 100px;
}
.event-logo {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://rest.trikthom.nl/ndi/duikplaatsen/default.png");
  margin: 10px;
  float: left;
}
.event-color {
  float: left;
  height: 100%;
  width: 3px;
  background-color: #F79191;
  transition: width .2s;

}
.event:hover .event-color {
  width: 10px;
}
@keyframes showEvent{
  from{opacity:0}
  to{opacity:1}
}
h5 {
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #24292e;
}
.event-info-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://rest.trikthom.nl/ndi/duikplaatsen/default.png");
  width: 100%;
  height: 400px;
}
</style>
