<template>
  <div>
    <!--<div class="banner-container">
      <div class="banner js-banner" data-bg-alignment="center" data-x-pos="centered" data-y-pos="middle"></div>
    </div>
    <trk-dashboard v-if="$store.state.authUserUUID != undefined"></trk-dashboard>
    <div v-else>
      <br><br><br><br><br><br>
      <div class="sea"></div>
      <div class="sea-content">
        <div class="wrapper">
          <div class="box" style="text-align:center;">
          <h5 style="font-weight:bold;">NAUTIC DUIKERSCLUB IZEGEM</h5>
          <p>Ben je gepassioneerd door duiken of wens je een intrede te maken en de onderwaterwereld te ontdekken?</p>
          <p>Ben je op zoek naar een club in uw streek die het groepsgevoel een een veilige duikervaring als prioriteit ziet?</p>
          <p>Vind je een rijk kader van instructeurs om je heen belangrijk in de verdere groei van uw duikopleiding?</p>
          <p>Ben je benieuwd hoe ons feestcomité een clubduik of feestje kan "pimpen"?</p>
          <h6 style="font-weight:700;margin-top:40px;">DAN BEN JE BIJ NAUTIC DUIKERSCLUB AAN HET JUISTE ADRES!</h6>
          <p style="font-style: italic;">Ontdek ons verhaal, ons opleidingsaanbod, duiktips, ... en nog vele andere weetjes via onze website.</p>
          <p>Aarzel niet om contact op te nemen voor verdere inlichtingen!</p>
          </div>
        </div>
      </div>
      <div class="sea-under"></div>
      <div class="wrapper">
        <div style="position: relative;margin-top: -340px;"><iframe style="margin:auto;display:block;" class="iframe-vid" src="https://www.youtube-nocookie.com/embed/mweU274xjLs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
      </div>
    </div>-->
    <trk-dashboard></trk-dashboard>
  </div>
</template>

<script>
export default {
  data() {
  	return {
      page: 'Home'
    }
  }
}

</script>

<style>

@media screen and (min-width:1200px){
  .iframe-vid {
    width: 1200px;
    height: 675px;
  }
}
@media screen and (max-width:1200px){
  .iframe-vid {
    width: 1100px;
    height: 618.75px;
  }
}
@media screen and (max-width:1100px){
  .iframe-vid {
    width: 1000px;
    height: 562.5px;
  }
}
@media screen and (max-width:1000px){
  .iframe-vid {
    width: 900px;
    height: 506.25px;
  }
}
@media screen and (max-width:900px){
  .iframe-vid {
    width: 800px;
    height: 450px;
  }
}
@media screen and (max-width:800px){
  .iframe-vid {
    width: 700px;
    height: 393.75px;
  }
}
@media screen and (max-width:700px){
  .iframe-vid {
    width: 600px;
    height: 337.5px;
  }
}
@media screen and (max-width:600px){
  .iframe-vid {
    width: 500px;
    height: 281.25px;
  }
}
@media screen and (max-width:500px){
  .iframe-vid {
    width: 450px;
    height: 253.125px;
  }
}
@media screen and (max-width:450px){
  .iframe-vid {
    width: 300px;
    height: 168.75px;
  }
}


.banner {
  background-image: url('../assets/dive.png');
  max-width: 1800px;
  margin: auto;
  height: 420px;
  top: -1px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0px;
}
.banner-container {
  background-color: #7aacb5;
  background-image: url('../assets/diveBack.png');
  background-position: center;
  background-position-y: 20px;
}

.sea {
  background-image: url('../assets/sea.svg');
  background-position: center bottom;
  background-size: 1324px 118px;
  background-repeat: repeat-x;
  height:126px;
}
.sea-under {
  background-image: url('../assets/sea.svg');
  background-position: center bottom;
  background-size: 1324px 118px;
  background-repeat: repeat-x;
  height:126px;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  margin-top: -20px;
  margin-bottom: 200px;
}
.sea-content {
  background-color:#0052CC;
  min-height:100px;
  margin-top:-15px;
  padding-top: 20px;
  padding-bottom: 100px;
}
</style>