<template>
  <div>
    <trk-login></trk-login>
  </div>
</template>

<script>
export default {
  created() {
    if(this.$store.state.authUserUUID != undefined) {
      this.$router.push('/');
    }
  }
}
</script>

<style>

</style>