<template>
<div>
  <div class="profile-banner" data-bg-alignment="center" data-x-pos="centered" data-y-pos="middle">
    <div class="wrapper">
      <div v-if="profile.profilePhoto != undefined" v-bind:style="{ backgroundImage: 'url(' + this.$store.state.ip + '/profile/' + profile.profilePhoto + ')' }" class="profile-photo"></div>
        <div v-else v-bind:style="{ backgroundImage: 'url(' + this.$store.state.ip + '/profile/profile.png)' }" class="profile-photo"></div>
        <h6 class="profile-username">
          {{profile.firstName}} {{profile.lastName}}
          <span v-if="profile.sterren > 0"> [{{profile.sterren}}* duiker]</span></h6>
    </div>
  </div>
  <div class="wrapper">
    <div class="box">
      <div class="pro-header">
        <div @click="$router.push({name: 'profiel'})" class="button">Profiel</div>
        <div @click="$router.push({name: 'profiel-module', params: {module: 'deelname'}})" class="button">Deelname</div>
        <div @click="$router.push({name: 'profiel-module', params: {module: 'informatie'}})" class="button">Informatie</div>
      </div>
      <div v-if="$route.params.module == 'deelname'">
        {{profile.firstName}} {{profile.lastName}} heeft zich nog niet ingeschreven voor nieuwe events.
      </div>
      <div v-else-if="$route.params.module == 'informatie'">
        <table>
          <tr>
            <td>Naam:</td>
            <td style="padding-left:20px;">{{profile.firstName}} {{profile.lastName}}</td>
          </tr>
          <tr>
            <td>Geboorte dag:</td>
            <td style="padding-left:20px;"></td>
          </tr>
          <tr>
            <td>Telefoonnummer:</td>
            <td style="padding-left:20px;"></td>
          </tr>
          <tr>
            <td>E-mail:</td>
            <td style="padding-left:20px;">{{profile.email}}</td>
          </tr>
          <tr>
            <td>Brevet:</td>
            <td style="padding-left:20px;">{{profile.sterren}}</td>
          </tr>
        </table>
      </div>
      <div v-else>
        Profielpagina van {{profile.firstName}}
      </div>
    </div>
  </div>

</div>

</template>
<script>
import { mapGetters } from 'vuex';

export default {
  computed: mapGetters({
      profile: 'getProfile',
      authUserUUID: 'authUserUUID'
  }),
  data() {
    return{

    }
  },
  watch: {
    '$route'(to, from) {
      if(this.$store.state.authUserUUID == undefined) {
        this.$router.push('/');
      }
      else {
        this.$store.dispatch({
          type: 'getProfileInfo',
          user: this.$route.params.user
        });
      }
    }
  },
  created() {
    if(this.$store.state.authUserUUID == undefined) {
      this.$router.push('/');
    }
    else {
      this.$store.dispatch({
        type: 'getProfileInfo',
        user: this.$route.params.user
      });
    }

  }
}
</script>

<style>
.profile-banner {
  background-color: white;
  width: 100%;
  height:330px;
  top: -1px;
  top: 0;
  left: 0;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../assets/profielbanner/default.png');
}
.profile-photo {
  background-image: url('../assets/profile.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: transparent;
  border-radius: 10px;
  height: 72px;
  width: 72px;
  margin-top: 250px;
  margin-left: 10px;
  position: absolute;
}
.profile-username {
  margin-top: 265px;
  margin-left: 92px;
  position: absolute;
  font-size: 20px;
  color: white;
}
.pro-header .button {
  float: left;
}
.pro-header {
  height: 43px;
}
</style>
