<template>
  <div>
    <trk-duikschool v-if="$route.params.component == 'duikschool'"></trk-duikschool>
    <trk-lidworden v-if="$route.params.component == 'lid_worden'"></trk-lidworden>
    <trk-opleidingen v-if="$route.params.component == 'opleidingen'"></trk-opleidingen>
    <trk-materiaal v-if="$route.params.component == 'materiaal'"></trk-materiaal>
  </div>
</template>
