<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>DUIKSCHOOL</h2>
    <p>Droom je al geruime tijd van de fascinerende onderwaterwereld  ? Neem dan contact op met één van onze duikinstructeurs, we geven je met plezier een duikinitiatie in het zwembad van Sportcentrum ‘De Krekel’ te Izegem.</p><br>
    <p>We beantwoorden graag uw vragen na de duikinitiatie  bij een gezellige babbel in ‘den bar’. Daar proef je ondertussen ook van de familiale sfeer bij NDI.</p><br>
    <h2>Opleidingen :</h2>
    <p>Wij begeleiden en verzorgen alle perslucht brevetten (vanaf 1* duiker tot duikinstructeur), eveneens is het mogelijk om Nitrox brevetten bij ons te behalen. (zie ook Opleidingen)</p>

    <p>Wat heb je nodig ?</p><br>
    <h2>In het zwembad : </h2>
    <ul>
    <li><p>duikbril</p></li>
    <li><p>snorkel</p></li>
    <li><p>zwemvliezen</p></li>
    <li><p>loodgordel</p></li>
    <li><p>zwembroek/badpak</p></li>
    </ul>


    <p>Voor de openwaterduiken kan je tijdens uw 1ste jaar van aansluiting, gratis een duikfles, ontspanner, manometer, trimvest gebruiken van de duikclub.</p>
    <h2>Duikinitiaties :</h2>
    <p>Bij Nautic Duikersclub Izegem (NDI) kan je vrijblijvend kennis maken met de duiksport via een 3-tal duikinitiaties. Daarna beslis je om wel of niet verder te gaan met de duiksport.</p>
    <br>
    <p>Voor een initiatie kan je een duikbril, snorkel, zwemvliezen en loodgordel gebruiken van de club, breng enkel je zwembroek/zwempak mee. </p>
    <p>We vragen een bijdrage van 30€ voor de 3 duikinitiaties, dit is tevens de korting die je krijgt wanneer je het eerste jaar lid wordt van NDI.</p>
    <br>
    <p>Onze jaarlijkse duikinitiaties gaan door tussen 15 november en 15 december. Duikinitiaties worden mogelijks ook op andere tijdstippen in het jaar georganiseerd, wanneer, neem daarvoor contact op met de duikschoolverantwoordelijke Jürgen Van den Berghe ( Schrijf u hier in ).</p>
    <p>Nieuwe leden kunnen starten vanaf 1 januari met de voorbereiding voor het behalen van hun 1* duiker. Begin april start je dan met openwaterduiken.</p>
    <br>
    <br>
    <p>Reeds helemaal overtuigd dat duiken iets voor jou is? Bekijk dan hier hoe je lid kan worden.</p>
    <p>Hieronder een filmpje die opgenomen werd tijdens de initiatielessen eind 2013.</p>
    <br>
    <iframe width="100%" height="675" src="https://www.youtube-nocookie.com/embed/P-04suc3iHY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
  
</template>
