<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>LID WORDEN </h2>
    <p>Bij Nautic Duikersclub Izegem wensen we de potentiële nieuwe leden de mogelijkheid beiden tot het volgen van 3 initiatie lessen.</p>
    <br>
    <p>Deze lessen hebben als doel een beeld te vormen van wat het duiken inhoud en wat Nautic Duikersclub Izegem u kan bieden.</p>
    <p>Na het volgen van deze initiatie lessen beslist u dan om lid te worden van onze club.</p>
    <br>
    <p>Nautic Duikersclub Izegem beschikt over een uitgebreid kader die opleidingen kan verzorgen tot en met Assitent Instructeur.</p>
    <p>Op het gebied van het technisch duiken kunnen wij opleidingen verzorgen tot Gevorderd Nitrox duiker en Trimix Blender. Zie de "Opleidingen" pagina voor verdere info</p>
    <br>
    <h2>Wat kost het om lid te worden?</h2>
    <p>1ste jaar inschrijving bij onze club 325€ (incl. de 15 euro die je betaalt voor de 3 initiatielessen) </p>
    <p>hierin inbegrepen :</p>
    <ul>
    <li><p>Nelos bijdrage (duikfederatie)</p></li>
    <li><p>Internationale duikverzekering (Arena)</p></li>
    <li><p>Abonnement Hippocampus (duikmagazine, 4 uitgaven/jaar)</p></li>
    <li><p>Clubwerking en administratie</p></li>
    <li><p>Toegang tot zwembad tijdens clubtrainingen op vrijdagavond en dinsdagavond</p></li>
    <li><p>Gebruik van duikmaterieel tijdens trainingen en opleidingen</p></li>
    <li><p>Gebruik van duikfles, ontspanner + manometer, trimvest voor openwaterduiken</p></li>
    <li><p>Gratis vullen van duikflessen</p></li>
    <li><p>Alle zwembad- en theorielessen</p></li>
    <li><p>Nelos documententasje (duikboekje, logboekje, cursus 1*duiker, medische fiche,…)</p></li>
    <li><p>Homologatie 1* brevet</p></li>
    </ul>
    <br>
    <p>Lidgeld vanaf het 2de jaar 125€.</p>
    <p>Tweede lid: 70€</p>
    <br> 
    <h2>Extra info over ons secretariaat</h2>
    <h2>Wie:</h2>
    <p>De secretaris is de contact persoon tussen de clubleden en de duik federatie Nelos.</p>
    <h2>Wat:</h2>
    <p>U kunt terecht bij het secretariaat met volgende vragen:</p>
    <ul>
    <li>Lidgelden en homologatie gelden</li>
    <li>Duiksport Verzekering</li>
    <li>Medische keuringen</li>
    <li>Invul formulier mutualiteit – tussenkomst lidgeld</li>
    </ul>
    <h2>Hoe:</h2>
    <p>Wenst u meer informatie te verkrijgen of wenst u lid te worden van onze club, neem dan contact op via mail (<a href="mailto:dsv@nauticduikersclubizegem.be">dsv@nauticduikersclubizegem.be</a>)</p>
  </div>
</div>
  
</template>
