<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>CHECKLIST MATERIAAL OPEN WATER DUIKEN</h2>
    <p>Al ben je een ervaren duiker of ben je nog maar net begonnen, een checklijstje met het materiaal die je moet meenemen tijdens de open water duiken is altijd handig.</p>
    <br>
    <br>
    <img src="../../assets/no_way.png" style="float: right;margin-right: 5%;max-width: 100%;" width="50%" height="50%">
    <h2>Basis Materiaal</h2>
    <ul>
    <li>Duikvinnen</li>
    <li>Duikbril</li>
    <li>Snorkel</li>
    <li>Loodgordel open water</li>
    <li>Jacket / trimvest</li>
    <li>Duikmes</li>
    <li>Ontspanners</li>
    <li>Duikfles</li>
    <li>Duikcomputer</li>
    <li>Handschoenen</li>
    <li>Laarsjes</li>
    <li>Zwembroek</li>
    <li>Duikpak + ev. knielappen en kap</li>
    <li>Zwembroek</li>
    <li>Handdoek</li>
    <li>Logboek</li>
    <li>Brevet</li>
    <li>Fles water</li>
    </ul>
    <h2>Extra voor duikleiders</h2>
    <ul>
    <li>Buddy line</li>
    <li>Kompas</li>
    <li>OSB</li>
    <li>Duiklamp (+ oplader/batterijen)</li>
    </ul>
    <h2>Veiligheidsmateriaal aan de oppervlakte</h2>
    <ul>
    <li>Fles met 100% zuurstof</li>
    <li>EHBO-kit</li>
    <li>Opgeladen gsm met het plaatselijke noodnummer</li>
    <li>Verrekijker</li>
    </ul>
    <h2>Reservemateriaal</h2>
    <ul>
    <li>Reserveriempjes</li>
    <li>Duikbril</li>
    <li>o-ringen</li>
    </ul>
    <h2>TIPS: AANKOOP NIEUW DUIKMATERIAAL</h2>
    <p>Waar moet ik op letten bij de aankoop basis duikmateriaal open water (voor de beginnende duiker)</p>
    <br>
    <br>
    <h2>Algemeen</h2>
    <ul>
    <li>in de verschillende duikzaken kan je een uitrusting huren aan een schappelijke prijs</li>
    <li>hoe meer toeters en bellen - hoe meer er stuk kan gaan…</li>
    <li>er is een grote tweedehandsmarkt</li>
    <li>vraag om je te laten vergezellen als je van plan bent duikmateriaal aan te schaffen</li>
    </ul>
    <h2>Pak</h2>
    <ul>
    <li>Water geleidt warmte 25x beter dan lucht. Vanaf een watertemperatuur van 21°c begint men onvermijdelijk af te koelen en kan het lichaam dit niet meer tegengaan. Isothermische kleding gaat warmteverlies tegen. Deze kleding beschermt ons tegelijk tegen verwondingen.</li>
    <li>Een duikpak voor onze wateren is minimaal 7 mm dik. Er zijn 2 types : natpak met ritsen aan polsen en enkels, en een halfdroogpak met seals aan polsen en enkels waardoor het water minder circuleert. De natpakken zijn uit neopreen gemaakt, een synthetische rubbersoort waarin miniscule luchtbelletjes verwerkt zijn.</li>
    </ul>
    <h2>Pasvorm is uiterst belangrijk</h2>
    <ul>
    <li>te groot: afkoeling - let op vooral aan de schouders en onder de oksels dat daar niet teveel speling zit</li>
    <li>te klein: ongemak en zelfs squeeze</li>
    <li>Neem je tijd om pakken te passen!! Het is meestal warm in een duikwinkel met als gevolg dat je oververhit raakt in een pashokje…</li>
    </ul>
    <h2>Laarsjes</h2>
    <ul>
    <li>Goed passend aan de voet, min 5 mm dik met een stevige zool (voor duiken in de Oosterschelde is een stevige zool zeker vereist !)</li>
    </ul>
    <h2>Vinnen</h2>
    <ul><li>Steeds passen met je duiklaarsjes!</li>
    <li>Kies voor een stevig blad en degelijke sluitingen (al dan niet met veiligheidsknoppen)</li>
    <li>Kies voor een model dat zichzelf reeds bewezen heeft</li>
    </ul>
    <h2>Handschoenen</h2>
    <ul><li>beschermen je tegen koude en verwondingen</li>
    <li>in de zomer volstaan werkhandschoenen of lichte handschoenen (water boven de 18°C)</li>
    <li>in de winter zijn 5mm of zelfs 7mm handschoenen aan te raden</li>
    </ul>
    <h2>Trimvest/jacket/wing</h2>
    <ul><li>zorg voor voldoende drijfvermogen (minimum 16 liter)</li>
    <li>pasvorm is uiteraard van belang - pas liefst met een duikfles en zeker met je pak</li>
    <li>voor vrouwen bestaan er sinds enige tijd speciale vesten die rekening houden met de vrouwelijke anatomie</li>
    <li>maak dat er genoeg bevestigingsmogelijkheden zijn (liefst inox of RVS)</li>
    <li>zorg voor verschillende opbergmogelijkheden (zakken)</li>
    <li>overdrukventielen: liefst 2 (1 boven - 1 beneden)</li>
    </ul>
    <img src="../../assets/new_dive_gear.png" style="margin: auto;max-width: 100%;">
    <h2>Loodgordel buitenwater</h2>
    <ul><li>In open water zal je met een nieuw duikpak al gauw 8 tot 12 kg lood nodig hebben.</li>
    <li>De klassieke loodgordel: standaard en goedkoop maar niet altijd comfortabel (wegens ev. grote druk van de loodblokken op heupen en in de rug)</li>
    <li>De softloodgordel: wordt voorzien van zakje gevuld met softlood (=jachthagel), is hierdoor comfortabeler.</li>
    <li>Het harnas: het lood kan niet wegzakken van de heupen onder water, moet wel voorzien zijn van een looddumpsysteem, is wel duurder</li>
    <li>Het loodgeïntegreerd jacket: afwerpbare loodzakken zijn verwerkt in het jacket. Kan comfortabel zijn. Nadeel is dat je jacket met fles en geïntegreerd lood heel zwaar is.</li>
    </ul>
    <h2>Ontspanner en fles</h2>
    <ul><li>over beiden zoveel meningen als er duikers zijn - toch kunnen we zonder beiden niet duiken !</li>
    <li>In onze club bestaat de mogelijkheid beiden te huren. Dit is iets wat we aanraden, zeker het eerste jaar. Dit houdt kostenbesparing in en op die manier kan je rustig uitkijken en informeren naar wat je zelf wil.</li>
    </ul>
    <h2>Manometer</h2>
    <ul><li>tot 300 bar of tot 400 bar , normale lengte van de manometerslang bedraagt 75 cm.</li>
    <h2>Duikmes</h2>
    <li>grootte is van minder belang, de bereikbaarheid onder water daarentegen is wel van belang.</li>
    <li>Verschillende bevestigingsmogelijkheden bekijken en zien op welke plaats je er zelf bij kunt.</li>
    </ul>

  </div>
</div>
  
</template>
