<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
    <h2>Opleidingen</h2>
    <p>Wegens het ruime en goed opgeleide kader kan je bij de NDI duikschool de volgende opleidingen volgen:</p>
    <br>
    <ul>
    <li>Zwembadopleidingen tot Assistent Instructeur</li>
    <li>Theoretische opleidingen tot Assistent Instructeur</li>
    <li>Nitrox opleidingen tot Nitrox Instructeur</li>
    <li>Minstens 1 keer per jaar een bijscholing EHBO/Reanimatie</li>
    <li>De NDI technische cel organiseert initiaties in het technisch duiken</li>
    <li>Hiernaast organiseert NDI ook jaarlijks 2 duikweekends en kan je uw duikflessen laten vullen in het club lokaal.</li></ul>
  </div>
</div>
  
</template>
