<template>
  <div>
    <div v-if="alerts.length > 0">
      <div v-for="(alert, index) in alerts">
        <v-alert v-if="alert.value" dismissible v-model="alert.show" class="alert" :class="alert.type" transition="slide-x-reverse-transition" :style="{ top: 70 + index*70 + 'px' }"><p>{{ alert.message }}</p></v-alert>      
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: mapGetters({
      alerts: 'alerts'
  }),
  data() {
    return{
      show: true
    }
  }
}
</script>

<style scoped>
.alert {
  min-width:300px;
  /*position: absolute;*/
  position: fixed;
  z-index: 1000;
  top: 70px;
  right:20px;
  padding:0;
  padding-left: 10px;
}
p {
  line-height: 55px;
  margin: 0; 
}
</style>
