<template>
  <div class="duikclub-banner" data-bg-alignment="center" data-x-pos="centered" data-y-pos="middle" :class="'duikclub-banner-' + $route.params.component">
    <div class="wrapper">
      <p class="banner-text">{{$route.params.component.toUpperCase().replace('_', ' ')}}</p>
    </div>
  </div>
</template>


<style>

</style>
