<template>
  <div class="">
    <section>
        <v-parallax src="/static/img/homepage/boot.png" height="600">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <h1 class="white--text mb-2 display-0 text-xs-center">Nautic Duikersclub Izegem</h1>
            <div class="subheading mb-3 text-xs-center">Where passion for diving meets unity and pleasure</div>
            <v-btn
              class="blue lighten-2 mt-5"
              dark
              large
              @click="$router.push('/startenmetduiken/lid_worden')"
            >
              Word nu lid
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">Een ideale manier om te starten met duiken</h2>
              <span class="subheading">
                Onze clubwaarden 
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Material Design</div>
                    </v-card-title>
                    <v-card-text>
                      Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                      Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Fast development</div>
                    </v-card-title>
                    <v-card-text>
                      Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                      Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Completely Open Sourced</div>
                    </v-card-title>
                    <v-card-text>
                      Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                      Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

      <section>
        <v-parallax src="/static/img/homepage/pieter.png" height="380">
          <v-layout column align-center justify-center>
            <div class="headline white--text mb-3 text-xs-center">Ontvang een Professionele begeleiding</div>
            <em>Van initiatie tot technisch duiken</em>
            <v-btn
              class="blue lighten-2 mt-5"
              dark
              large
              @click="$router.push('/startenmetduiken/opleidingen')"
            >
              Onze opleidingen
            </v-btn>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-container grid-list-xl>
          <v-layout row wrap justify-center class="my-5">
            <v-flex xs12 sm4>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Company info</div>
                </v-card-title>
                <v-card-text>
                  Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. 
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                  Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti. 
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm4 offset-sm1>
              <v-card class="elevation-0 transparent">
                <v-card-title primary-title class="layout justify-center">
                  <div class="headline">Contact us</div>
                </v-card-title>
                <v-card-text>
                  Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare.
                </v-card-text>
                <v-list class="transparent">
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">phone</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>777-867-5309</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">place</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>Chicago, US</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                  <v-list-tile>
                    <v-list-tile-action>
                      <v-icon class="blue--text text--lighten-2">email</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>john@vuetifyjs.com</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </v-list>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </section>

    <!--<div class="box">
      <div class="dash-header">
        <div class="dash-photo"></div>
				<p style="line-height:64px;">Thomas Crombez <span style="color:#535353;">heeft</span> Agay.mp4 <span style="color:#535353;"> en </span> Ledenlijst.pdf <span style="color:#535353;">geüpload</span></p>
      </div>
      <div class="dash-content">
        <strong>Dit is een voorbeeld</strong>
        <p>Deze video is een beveiligde video die enkel maar leden van de club kunnen zien.</p>
        <video :src="video" width="100%" controls></video>
        <p>De ledenlijst is ook beveiligd zodat niemand persoonlijke info van de club kan weten als die persoon dat niet mag.</p>
        <embed :src="'https://rest.trikthom.nl/ndi/pdf?file=ledenlijst&public_id=' + $store.state.authUserUUID + '&key=defaultKey'" type="application/pdf"   height="725px" width="100%">
        <p>En je kan nu de ledenlijst downloaden</p>
        <button class="button" type="button" @click="this.window.location.href='https://rest.trikthom.nl/excel/index.php?file=demo'">Download ledenlijst</button>
      </div>
      <div class="dash-footer">
        <div class="fishes"></div><p style="line-height:32px;font-weight:450;">12 (visjes ipv likes)</p>
      </div>
    </div>-->
  </div>
</template>
<script>
export default {
  data() {
    return {
      video: 'https://rest.trikthom.nl/ndi/securedFile?type=video&video=Agay.mp4&key=' + this.$store.state.authUserUUID
    }
  }
}
</script>


<style>
.dash-content {
  min-height: 100px;
}
.dash-photo {
 width: 64px;
 height: 64px;
 background-image: url('https://rest.trikthom.nl/ndi/profile/TrikThom.png');
 background-size: 64px;
 background-repeat: no-repeat;
 border-radius: 50%;
 float:left;
 margin-right: 10px;
}
.fishes {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url('../assets/fish.png');
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}
.dash-header {
	margin-bottom: 10px;
	height: 64px;
}
.dash-footer {
  margin-top: 10px;
  height: 32px;
}
</style>
