<template>
  <div>
    <div v-if="getDialog != false" class="dialogs">
        <div class="dialog-overlay" @click="$store.state.dialog = false"></div>
        <div class="title">{{dialog.title}} <span @click="$store.state.dialog = false" style="cursor:pointer;float:right;"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span></div>
        <div class="box" style="position: relative;top: 10%;margin: auto;max-width: 1100px;max-height:80%;overflow: overlay;">
          <div v-if="getDialog == 'dashboard' || getDialog ==  'settings' || getDialog ==  'sendMails' || getDialog ==  'profile_avatar' || getDialog ==  'profile_pass'">
            <img v-bind:src="authProfilePhoto" width="36px" height="36px" style="margin:5px;"><strong>{{user.firstName}} {{user.lastName}} <span v-if="user.rank != 'gebruiker'">[{{user.rank}}]</span></strong>
            <v-btn primary @click="logout()" type="submit" class="button" style="float:right;">Uitloggen</v-btn>
            <hr style="float:left;width:100%;margin:0;">
          </div>
          <div v-if="getDialog != 'dashboard'">
            <strong v-if="getDialog == 'profile_avatar'" @click="changeDialog('settings')" style="cursor:pointer;">Ga terug</strong>
            <strong v-else-if="getDialog == 'profile_pass'" @click="changeDialog('settings')" style="cursor:pointer;">Ga terug</strong>
            <strong v-else @click="changeDialog('dashboard')" style="cursor:pointer;">Ga terug</strong>
            <hr style="float:left;width:100%;margin:0;">
          </div>

          <div v-if="getDialog == 'dashboard'">
            <hr style="float: left;width: 100%;margin: 5px;border-color:transparent;">
            <div class="col-md-6" @click="changeDialog('profile')"><span style="cursor:pointer;"><img src="../assets/settings.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Mijn profiel</strong></span></div>
            <div class="col-md-6" @click="changeDialog('settings')"><span style="cursor:pointer;"><img src="../assets/settings.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Mijn profiel instellingen</strong></span></div>

            <div v-if="user.rank == 'application_admin' || user.rank == 'super_user'">
              <div class="col-md-6" @click="changeDialog('createEvent')"><span style="cursor:pointer;"><img src="../assets/event.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Maak een event aan</strong></span></div>
              <div class="col-md-6" @click="changeDialog('editEvent')"><span style="cursor:pointer;"><img src="../assets/event-edit.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Bewerk een event</strong></span></div>
            </div>

            <div v-if="user.rank == 'application_admin' || user.rank == 'super_user'">
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/email.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Verstuur emails</strong></span></div>
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/email.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Maak hier je eigen mails</strong></span></div>
            </div>

            <div v-if="user.rank == 'application_admin' || user.rank == 'super_user'">
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/extensions/xlsx.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Excel</strong></span></div>
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/extensions/pdf.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Pdf</strong></span></div>
            </div>

            <div v-if="user.rank == 'application_admin' || user.rank == 'super_user'">
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/people.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Gebruikers</strong></span></div>
              <div class="col-md-6" @click="changeDialog('')"><span style="cursor:pointer;"><img src="../assets/tasks.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Scheduled task</strong></span></div>
            </div>

            <div class="col-md-6">{{version}}</div>
          </div>
          <div v-else-if="getDialog == 'profile_avatar'">
            <file-upload :url='url' :thumb-url='thumbUrl' @change="onFileChange"></file-upload>
          </div>
          <div v-else-if="getDialog == 'settings'">
            <div class="col-md-6"><span style="cursor:pointer;"><img src="../assets/id_card.svg" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Persoonlijke gegevens</strong></span></div>
            <div class="col-md-6"><span @click="changeDialog('profile_pass')" style="cursor:pointer;"><img src="../assets/key.svg" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Gebruikersnaam en wachtwoord</strong></span></div>
            <div class="col-md-6"><span @click="changeDialog('profile_avatar')" style="cursor:pointer;"><img src="../assets/profile.png" alt="" width="50px" height="50px" style="margin-right:20px;"><strong>Mijn foto</strong></span></div>
            <hr style="float:left;width:100%;">
          </div>
          <div v-else-if="getDialog == 'profile_pass'">
            <form onsubmit="return false;">
              <v-text-field name="input-10-1" label="Nieuw Wachtwoord" hint="Minimum 5 karakters" v-model="password" min="0" max="32"
                :append-icon="e1 ? 'visibility' : 'visibility_off'"
                :type="e1 ? 'text' : 'password'"
                counter
                ></v-text-field>
  						<v-text-field name="input-10-1" label="Herhaal Wachtwoord" v-model="spassword" min="0" max="32"
                :append-icon="e2 ? 'visibility' : 'visibility_off'"
                :type="e2 ? 'text' : 'password'"
                counter
              ></v-text-field>
              <v-btn primary type="submit" @click="reset()" class="button">Reset wachtwoord</v-btn>
            </form>
          </div>
          <div v-else-if="getDialog == 'sendMails'">
            <select>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </div>
          <div v-else-if="getDialog == 'createEvent'">
            <hr style="border:none;">
            <table style="width: 100%;">
              <tr>
                <td>Plaats:</td>
                <td>
                  <select v-model="event.plaats">
                    <option value="Gavers">De gavers</option>
                    <option value="Zeeland">Zeeland</option>
                    <option value="Barges">Barges</option>
                    <option value="Duiktank_Transfo">Duiktank Transfo</option>
                    <option value="Oosterschelde">Oosterschelde</option>
                    <option value="Nemo">Nemo 33</option>
                    <option value="Steengroeves">Steengroeves</option>
                    <option value="Noordzee">Noordzee</option>
                    <option value="Wevos_Proevendag">Wevos Proevendag</option>
                    <option value="Wevos_Bootduik">Wevos Bootduik</option>
                    <option value="TODI">TODI</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Datum:</td>
                <td><input type="date" v-model="event.datum"></td>
              </tr>
              <tr>
                <td>Tijd:</td>
                <td><input type="time" v-model="event.tijd"></td>
              </tr>
              <tr>
                <td>Plaatsen:</td>
                <td><input type="number" v-model="event.totaleplaatsen"></td>
              </tr>
              <tr>
                <td>Verantwoordelijke:</td>
                <td>
                  <select v-model="event.verantwoordelijkeuuid">
                    <option v-for="user in kader" v-value="user.username">{{user.firstName}} {{user.lastName}}</option>
                    <option value="TrikThom">Thomas Crombez</option>
                    <option value="Geert.Crombez">Geert Crombez</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Tekst:</td>
                <td><textarea v-model="event.text" cols="30" rows="9" style="resize:none;"></textarea></td>
              </tr>
            </table>
            <button @click="createEvent()" class="button">Event aanmaken</button>
          </div>
          <div v-else v-html="dialog.text"></div>
          <!--<embed src="https://rest.trikthom.nl/ndi/pdf?file=ledenlijst" type="application/pdf"   height="725px" width="100%">-->
        </div>
      </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: mapGetters({
      getDialog: 'getDialog',
      authUserUUID: 'authUserUUID',
      username: 'username',
      dialog: 'getDialogHtml',
      authProfilePhoto: 'authProfilePhoto',
      user: 'authUser',
      version: 'version',
      authUserPass: 'authUserPass',
      kader: 'kader'
  }),
  data() {
      return {
        uploadedFiles: [],
        uploadError: null,
        currentStatus: null,
        uploadFieldName: 'photos',
        password: '',
        spassword: '',
        e1: false,
  			e2: false,
        url: 'https://rest.trikthom.nl/ss/up',
        filesUploaded: [],
        event: {
          datum: null,
          plaats: null,
          totaleplaatsen: null,
          verantwoordelijkeuuid: null,
          tijd: null,
          text: null
        }
      }
    },
  created() {
    window.addEventListener('keyup', this.keyup)
    this.$store.dispatch('kader')
  },
  methods: {
    keyup() {
      if(event.which == 27) {
        this.$store.state.dialog = false;
      }
    },
    thumbUrl (file) {
      return file.myThumbUrlProperty
    },
    onFileChange (file) {
      // Handle files like:
      this.fileUploaded = file
    },
    reset() {
      this.$store.dispatch({
        type: 'resetPassword',
        password: this.password,
        spassword: this.spassword,
        user: this.$store.state.authUserUUID,
        key: this.authUserPass
      })
    },
    uploadPhoto(imageURI) {
      var options = new FileUploadOptions();
      options.fileKey = "file";
      options.fileName = imageURI[0].name;
      options.mimeType = "image/jpeg";
      var params = new Object();
      params.userID = "1";
      params.value2 = "param";
      options.params = params;
      options.chunkedMode = false;

      var ft = new FileTransfer();
      ft.upload(imageURI[0].fullPath, "https://rest.trikthom.nl/ss/up", this.success, function(error){
      console.log(JSON.stringify(error));

      }, options);
    },
    changeDialog(dialog) {
      switch(dialog) {
        case 'sendMails':
          this.$store.state.dialog = 'sendMails';
          this.$store.state.dialogHtml.title = 'Stuur een e-mail';
          this.$store.dispatch('getUsers');
          break;
        case 'createEvent':
          this.$store.state.dialog = 'createEvent';
          this.$store.state.dialogHtml.title = 'Maak een event aan';
          break;
        case 'dashboard':
          this.$store.state.dialog = 'dashboard';
          this.$store.state.dialogHtml.title = 'Dashboard';
          break;
        case 'profile':
          this.$store.state.dialog = false;
          this.$router.push({name: 'profiel', params: {user: this.user.username}});
          break;
        case 'profile_avatar':
          this.$store.state.dialog = 'profile_avatar';
          this.$store.state.dialogHtml.title = 'Mijn foto';
          break;
        case 'profile_pass':
          this.$store.state.dialog = 'profile_pass';
          this.$store.state.dialogHtml.title = 'Gebruikersnaam en wachtwoord';
          break;
        case 'settings':
          this.$store.state.dialog = 'settings';
          this.$store.state.dialogHtml.title = 'Mijn profiel instellingen';
          break;
      }
    },
    logout() {
      this.$store.dispatch('logout');
      this.$store.state.dialog = false;
    },
    createEvent() {
      this.$store.dispatch({
        type: 'createEvent',
        event: this.event
      })
    }
  },
}
</script>

<style scoped>
#file-upload-input {
  padding: 0;
}
input, select {
  width: 100%;
}
tr, td {
  display: block;
}
h5 {
  margin-bottom: 0;
  color: #24292e;
}
ul {
  list-style-type: none;
}
.dialogs li {
  display: inline-block;
}
.panel-item {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  display: block;
  height: 230px;
  width: 230px;
  margin: 10px;
  background-position: center center;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}
.panel-item-bar-text {
  padding: 10px;
  font-size: 12px;
}
.panel-item-bar {
  height: 160px;
  padding: 15px 15px 15px 15px;
  text-decoration: none;
  background-color: #f9f9f9;
  font-style: normal;
  border-radius: 0 0 4px 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.email {
  background-image: url('../assets/email.png');
}
.settings {
  background-image: url('../assets/settings.png');
}
.excel {
  background-image: url('../assets/extensions/xlsx.png');
  background-size: 100px;
}
.pdf {
  background-image: url('../assets/extensions/pdf.png');
  background-size: 100px;
}
.event {
  background-image: url('../assets/event.png');
  background-size: 100px;
}
.event-edit {
  background-image: url('../assets/event-edit.png');
  background-size: 128px;
}
.event-remove {
  background-image: url('../assets/event-remove.png');
  background-size: 128px;
}
.users {
  background-image: url('../assets/people.png');
  background-size: 128px;
}
.tasks {
  background-image: url('../assets/tasks.png');
  background-size: 128px;
}
.notification {
  background-image: url('../assets/notification.png');
  background-size: 200px;
}

.box {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.title {
  position: relative;
  top: 10%;
  margin: auto;
  max-width: 1100px;
  height:32px;
  background-color:rgb(90, 149, 65);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:white;
  padding: 5px;
  padding-left: 15px;
}
.dialogs {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.dialog-overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(170,170,170,0.5);
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
</style>
