<template>
  <div v-show="diveToSurface" class="diveToSurface">
    <div class="sea"></div>
    <div class="water"></div>
    <div class="sea-under"></div>
  </div>
</template>

<script>
export default {
  data() {
		return {
			diveToSurface: false
		}
	},
}
</script>

<style>
.diveToSurface {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
}
.water {
  height: calc(80% - 252px);
  width: 100%;
  background: #0052CC;
  margin-top: -20px;
  margin-bottom: -20px;
  
}
</style>
