<template>
  <footer>
    <footer>
      <p style="text-align:center;margin-top:30px;">Copyright &copy; NDI 2017 <span style="margin-left:20px;">Copyright</span> &copy; and made by <span onclick="window.location.href = 'https://www.trikthom.nl/';" style="cursor:pointer;">TrikThom</span> 2017</p>
      <hr style="margin-top:5px;margin-bottom:0px;"> 
    </footer>
  </footer>
</template>
