<template>
  <div>
    <header>
      <div class="wrapper">
        <router-link to="/"><h6>Startpagina</h6></router-link>
        <router-link v-if="authUserUUID != undefined" to="/events"><h6>Evenementen</h6></router-link>
        <v-menu offset-y>
          <a slot="activator"><h6>Starten met duiken</h6></a>
          <v-list>
            <v-list-tile v-for="item in smd" :key="item.title">
              <v-list-tile-title @click="$router.push({name: item.url, params: item.params})">{{item.title}}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-menu offset-y>
          <a slot="activator"><h6>Duikclub</h6></a>
          <v-list>
            <v-list-tile v-if="authUserUUID != undefined" :key="'Leden'">
              <v-list-tile-title @click="$router.push({name: 'duikclub', params: {component: 'leden'}})">Leden</v-list-tile-title>
            </v-list-tile>
            <v-list-tile v-for="item in duikclub" :key="item.title">
              <v-list-tile-title @click="$router.push({name: item.url, params: item.params})">{{item.title}}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <router-link v-if="authUserUUID == undefined" to="/login" style="float:right;padding:5.5px;padding-top:13px;padding-bottom:0;"><h6 class="login">Login</h6></router-link>
        <a v-if="authUserUUID != undefined" @click="profile()" style="float:right;padding:5.5px;padding-top:13px;padding-bottom:0;">
          <h6 class="username"><img v-bind:src="authProfilePhoto" width="22px" height="22px" style="margin-right:10px;margin-top:-1px;">{{username}}</h6>
        </a>
      </div>
    </header>
  </div>
</template>




<script>
//        <a v-if="authUserUUID != undefined" @click="logout()" style="float:right;padding:5.5px;padding-top:13px;padding-bottom:0;"><h6 class="login">Uitloggen</h6></a>

import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      smd: [
        {title:'Duikschool', url:'startenmetduiken', params: {component: 'duikschool'}},
        {title:'Lid worden', url:'startenmetduiken', params: {component: 'lid_worden'}},
        {title:'Opleidingen', url:'startenmetduiken', params: {component: 'opleidingen'}},
        {title:'Materiaal', url:'startenmetduiken', params: {component: 'materiaal'}},
      ],
      duikclub: [
        {title:'Geschiedenis', url:'duikclub', params: {component: 'geschiedenis'}},
        {title:'Bestuur', url:'duikclub', params: {component: 'bestuur'}},
        {title:'Kader', url:'duikclub', params: {component: 'kader'}},
        {title:'Extra', url:'duikclub', params: {component: 'extra'}},
      ]
    }
  },
  computed: mapGetters({
      authUserUUID: 'authUserUUID',
      authProfilePhoto: 'authProfilePhoto',
      username: 'username'
  }),
  methods: {
    profile() {
      this.$store.commit({
        type: 'createDialog',
        dialog: {
          title: 'Dashboard',
          dialog: 'dashboard'
        }
      });
    }
  }
}
</script>






<style scoped>
ul li {clear:left;}

header {
  background-color: white;
  width: 100%;
}
a {
  padding: 15px 10px;
  padding-top: 19px;
  padding-bottom: 0px;
  float: left;
}
h6 {
  font-size: 14px;
}
hr {
  margin: 0;
  margin-top: -3px;
  padding-top: 9px;
  position: relative;
}
.login {
  top: 0!important;
  border: 2px solid #24292e;
  padding: 5px 17px 7px!important;
  border-radius: 20px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: -5px;
}
li {
  padding: 0;
  margin:0;
  height: 42px;
  display: block;
  line-height: 42px;
}
ul {
  padding:0;
  margin: 0;
  min-height: 10px;
  list-style-type: none;
}
.list__tile {
  width: 100%;
}
.menu__content {
  overflow-x: hidden;
  overflow-x: hidden;
}
.username {
  top: 0!important;
  border: 2px solid #24292e;
  padding: 5px 17px 7px!important;
  border-radius: 20px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: -5px;
  float: right;
}
</style>
