<template>
  <div v-if="false">
    <table>
			<thead>
				<tr style="background-color:#F79191;height:50px;">
					<td colspan="1"><p class="table-h-text" style="line-height: 50px;cursor:pointer">vorige</p></td>
					<td colspan="5"><p class="table-h-text" style="line-height: 50px;">December 2017</p></td>
					<td colspan="1"><p class="table-h-text" style="line-height: 50px;cursor:pointer">volgend</p></td>
				</tr>
				<tr>
					<td colspan="1"><p>Ma</p></td>
					<td colspan="1"><p>Di</p></td>
					<td colspan="1"><p>Wo</p></td>
					<td colspan="1"><p>Do</p></td>
					<td colspan="1"><p>Vr</p></td>
					<td colspan="1"><p>Za</p></td>
					<td colspan="1"><p>Zo</p></td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in 5">

					<td style="background-color:rgb(247, 145, 145);" v-for="column in 7" colspan="1">
						<div class="date" style="color:rgb(83, 83, 83)">
							<div style="background-color:rgb(115, 175, 182);height:5px;"></div>
								<div v-if="this.weekday[column] == this.first"></div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot></tfoot>
		</table>
  </div>
</template>

<script>
export default {
  data() {
	  return {
		  first: undefined,
		  weekday: ["Zondag", "Maandag", "Dinsdag", "Donderdag", "Vrijdag", "Zaterdag"]
	  }
  },

  created() {

	  this.first = this.weekday[new Date(new Date().getFullYear(), new Date().getMonth(), 1).getDay()];
  }
}
</script>


<style scoped="">
table {
	width: 100%;

}
thead {
	background-color: #77a240;
}
thead tr td p, .table-h-text {
	margin: auto;
	display: table;
	color: #fff;
	font-weight: 500;
}
tr td {
	width: calc(100%/7)
}
.date {
	height: 97px;
	background-color: #eee;
	transition: height .2s;
}
.date:hover {
	background-color: #e8e8e8;
	height: 90px;
}
.tbody-h {
	height: 3px;
	background-color: aqua;
	width: 100%;
	transition: height .2s;
}
.date:hover .tbody-h {
	height: 10px;
}
</style>
