<template>
<div>
  <trk-banner></trk-banner>
  <div class="wrapper">
      <ul class="users">
        <li class="user" v-for="user in users" @click="$router.push({name:'profiel', params: {user: user.username}})">
          <div class="photo" v-if="user.profilePhoto != undefined" v-bind:style="{ backgroundImage: 'url(' + $store.state.ip + '/profile/'+ user.profilePhoto + ')' }"></div>
          <div class="text">{{user.firstName}} {{user.lastName}}</div>
        </li>
      </ul>
  </div>
</div>

</template>





<script>
import { mapGetters } from 'vuex';
export default {
  computed: mapGetters({
      users: 'users',
      authUserUUID: 'authUserUUID'
  }),
  created() {
    if(this.$store.state.authUserUUID == undefined) {
      this.$router.push('/');
    }
    this.$store.dispatch({
      type: 'getUsers',
      userData: {
        username: 'TrikThom',
        password: '123'
      }
    });
  },
  methods: {
    /*login(userData) {
      this.$store.dispatch({
        type: 'addUser',
        userData: userData
      });
    }*/
  }
}
</script>





<style scoped>
.user {
  width: 200px;
  margin: 10px;
}
.user .photo {
  width: 100px;
  margin: auto;
  height: 100px;
  background-image: url('../assets/profile.png');
  background-position: center;
  background-size: 100px;
  border-radius: 50%;
  border: 2px solid #DDD;
  margin-bottom: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
}
.user .text {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.users li {
  display: inline-block;
}
.button {
  font-weight: 800;
  width: 170px;
  height: 40px;
  text-align: center;
  display: block;
  background: rgb(59,221,124);;
  border: 0;
  min-width: 250px;
  max-width: 400px;
  min-height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 3px;
  text-align: center;
  display: block;
  margin-top: 20px;
}
</style>
