<template>
  <div>
    <div class="wrapper">
      <img src="../assets/squid.png" class="login-squid" width="70px" height="74px">
      <div class="modal-wrapper">
        <div class="profile-img" v-bind:style="{ backgroundImage: 'url(' + authProfilePhoto + ')' }">
          <div class="profile-add"></div>
        </div>
        <div class="text-wrapper">
          <form onsubmit="return false;" v-if="mode == 'login'">
            <v-text-field name="input-10-1" label="Gebruiker" v-model="user" max="30" type="text" autofocus @keyup="getAuthProfilePhoto"></v-text-field>
            <v-text-field name="input-10-1" label="Wachtwoord" hint="Minimum 5 karakters" v-model="password" min="0" max="32"
              :append-icon="e1 ? 'visibility' : 'visibility_off'"
              :append-icon-cb="() => (e1 = !e1)"
              :type="e1 ? 'text' : 'password'"
              counter
              ></v-text-field>
            <p style="text-decoration:underline;cursor:pointer;" @click="switchMode('lostPass')">Wachtwoord vergeten?</p>
            <v-btn primary @click="login()" type="submit" class="button">Login</v-btn>
          </form>
          <form onsubmit="return false;" v-else-if="mode == 'lostPass'">
            <v-text-field name="input-10-1" label="Gebruiker/e-mail" v-model="user" max="30" type="text" autofocus @keyup="getAuthProfilePhoto"></v-text-field>
            <p style="text-decoration:underline;cursor:pointer;" @click="switchMode('login')">Inloggen</p>
            <v-btn primary @click="sendEmail()" type="submit" class="button">Reset wachtwoord</v-btn>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
export default {
  data() {
    return {
      password: '',
      user: '',
      e1: false,
      mode: 'login'
    }
  },
  computed: mapGetters({
      authProfilePhoto: 'authProfilePhoto'
  }),
  methods: {
    login() {
      var userData = {
        user: this.user,
        password: this.password
      }
      this.$store.dispatch({
        type: 'login',
        userData: userData
      });
    },
    sendEmail() {
      this.$store.dispatch({
        type: 'sendEmail',
        user: this.user,
        typ: 'reset'
      })
    },
    switchMode(mode) {
      this.mode = mode;
    },
    getAuthProfilePhoto() {
      this.$store.dispatch({
        type: 'authProfilePhoto',
        user: this.user
      });
    }
  }
}
</script>




<style scoped>
@media screen and (min-width:1200px){
  .login-squid {
    margin-left: calc(600px - 147.5px - 74px);
    margin-top: -20px;
    position: absolute;
  }
}
@media screen and (max-width:1200px){
  .login-squid {
    margin-left: calc(50% - 147.5px - 74px);
    margin-top: -20px;
    position: absolute;
  }
}

.button {
  margin: auto;
  font-weight: 800;
  width: 170px;
  height: 40px;
  text-align: center;
  display: block;
  background: rgb(59,221,124);;
  border: 0;
  min-width: 250px;
  max-width: 400px;
  min-height: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
  font-weight: 400;
  font-size: 16px;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 3px;
  text-align: center;
  display: block;
  margin-top: 20px;
}
input {
  margin-bottom: 10px;
}
#auth-username {
  width: 100%;
}
#auth-password {
  width: 100%;
}
.box {
  width: 500px;
  max-width: 90%;
  margin: auto;
  height: 200px;
}
h1 {
  margin: 0;
}
.modal-wrapper {
  margin: auto;
  width: 400px;
  margin-top: 100px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
}
.profile-img {
    position: absolute;
    background-image: url('../assets/profile.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #eee;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 4px solid #eee;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.text-wrapper {
    margin: 40px;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    transition: opacity 0.25s;
    min-height: 200px;
    padding-top: 70px;
    padding-bottom: 20px;
}
</style>
