<template>
  <div>
		<h1>{{ message }}</h1>
		<trk-input :msg="message" @messageChanged="message = $event"></trk-input>
  </div>
</template>

<script>
import Input from '../components/Input.vue';

export default {
	data() {
		return {
			message: 'Default Vue.js Website'
		}
	},
	components: {
		'trk-input': Input
	}
}
</script>

<style>

</style>
