<template lang="html">
  <div class="sponsor">
    <img src="../assets/tmp/anelek.jpg" alt="">
  </div>
</template>

<script>
export default {

}
</script>

<style>
.sponsor {
  position: fixed;
  right: 0;
  bottom: 0;
}
</style>
