<template>
  <div id="app">
    <v-app>
      <trk-diveToSurface></trk-diveToSurface>
      <trk-alerts></trk-alerts>
      <trk-header></trk-header>
      <router-view></router-view>
      <trk-footer></trk-footer>
      <div v-if="UUID == undefined" class="NOTIFI-NEW">
        <img src="./assets/diver.png" width="153.2px" height="260px" class="NOTIFI-DIVER">
        <div class="NOTIFI-BOX">Welkom op de nieuwe NDI website!<br>Bekijk <span style="text-decoration:underline;cursor:pointer;" @click="changeDialog('Updates')">hier</span> wat er nieuw is.</div>
      </div>
      <trk-dialog></trk-dialog>
    </v-app>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'app',
  data() {
    return {
      UUID: localStorage.getItem('authUserUUID')
    }
  },
  computed: mapGetters({
      getDialog: 'getDialog',
      user: 'authUser',
  }),
  methods: {
    changeDialog(newDialog) {
      this.$store.dispatch({
        type: 'setDialog',
        dialog: newDialog
      })
    },
    keyup() {

    },

  },
  created() {
    window.addEventListener('keyup', this.keyup)

    self.addEventListener('install', function(event) {
      event.waitUntil(
        caches.open('mysite-static-v3').then(function(cache) {
          return cache.addAll([
            '/static/css/font-awesome.min.css',
          ]);
        })
      );
    });



    if(localStorage.getItem('authUserUUID') != undefined && localStorage.getItem('authUserUUID') != null && localStorage.getItem('authUserUUID') != '') {
      this.$store.dispatch({
        type: 'updateAuthProfilePhoto',
        UUID: localStorage.getItem('authUserUUID')
      });

    }

    if(localStorage.getItem('authUserPass') != undefined && localStorage.getItem('authUserUUID') != undefined && localStorage.getItem('authUserPass') != null && localStorage.getItem('authUserUUID') != null && localStorage.getItem('authUserPass') != '' && localStorage.getItem('authUserUUID') != '') {
      this.$store.dispatch({
        type: 'check'
      });
    }
  }
}
</script>
<style lang="stylus">
@import './stylus/main'
</style>

<style scoped>
.NOTIFI-NEW {
  position: fixed;
  left:0;
  bottom:0;
}
.NOTIFI-DIVER {
  margin-bottom: -50px;
  margin-left: -330px;
  animation: diverSlide 15s;
  animation-delay: 1s;
}
.NOTIFI-BOX {
  background-color: #fff;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #e0e0e0;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
  position: fixed;
  left:100px;
  bottom: 165px;
  animation: notifiBoxFade 12.5s;
  opacity: 0;
  animation-delay: 2.5s;
}
@keyframes diverSlide {
  10% { margin-left: -30px; }
  90% { margin-left: -30px; }
  100% { margin-left: -330px; }
}
@keyframes notifiBoxFade {
  10% { opacity: 1.0; }
  90% { opacity: 1.0; }
  100% { opacity: 0.0; }
}

</style>


<style>

.duikclub-banner {
    background-color: #fff;
    width: 100%;
    height: 350px;
    top: -1px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-top: 200px;
    background-image: url('assets/opleidingen-1.jpg');
}
.duikclub-banner-bestuur {
  background-image: url('assets/default_profile_banner.png');
}
.banner-text {
  color: white;
  font-family: 'Lovelo', sans-serif;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: -0.5px;
  animation-name: example;
  animation-duration: 1s;
}
@keyframes example {
    from {
      margin-top: -100px;
      opacity: 0;
    }
    to {
      margin-top: 0px;
      opacity: 1;
    }
}



table {
    width: 100%;
  }
  thead {
    border-bottom: 1px solid #CDCDCD;
  }
  tfoot {
    border-top: 1px solid #CDCDCD;
  }
  tbody td {
    border-bottom: 1px solid #eee;
  }
  tbody tr:hover {
    background-color: #eee;
  }
  td {
    padding-bottom: 7px;
  }

  tbody tr td:hover {
    color: #595959;
  }
  input {
    padding: 5px 7px;
    color: #666;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    width: calc(100% - 16px);
    font-family: VAG,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  select {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    width: 100%;
    padding: 5px 7px;
    margin-bottom:10px;
  }
  textarea {
    padding: 5px 7px;
    color: #666;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    width: calc(100% - 16px);
    resize: vertical;
    min-height: 75px;
    max-height: 300px;
    font-family: VAG,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  label {
    padding-right:12px;
    padding-left:8px;
    color: #666;
    padding-bottom:10px;
  }
*:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*IE9*/
*::selection
{
    background-color:transparent;
}
*::-moz-selection
{
    background-color:transparent;
}
*
{
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input, select {
    padding: 5px 7px;
    border-radius: 3px;
    border: 1px solid #cdcdcd;
}

input {
    color: #666;
    width: calc(100% - 16px);
    font-family: VAG,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.button {
  color: #35a7d6;
  padding: 5px 5px;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  cursor: pointer;
  font-weight: bold;
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: 7px;
}

.list__tile {
  width: 100%;
}
p {
  margin-bottom:0;
}
html {
  min-width: 450px;
  animation-name: view;
  animation-duration: 0.5s;
  background-color: transparent;
  background: transparent;
}
#app {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #24292e;
}

h1, h2 {
  font-weight: normal;
}
h2 {
  color: #444;
  font-size: 40px;
  line-height: 60px;
  font-weight: bold;
}
h5 {
  font-size: 20px;
  color: #24292e;
}
h6 {
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
}
ul {
  padding: 0;
}

li {
  margin: 0px;
}

a {
  color: #24292e;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  cursor: pointer;
  font-weight: 700;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.box {
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.08);
}

p, h5 {
  cursor: default;
}
.button, .btn__content {
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::selection {
    background: #acd49b;
}
@keyframes view {
    0%   {opacity: 0.0;}
    50%   {opacity: 0.0;}
    100% {opacity: 1.0;}
}

</style>
